<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<div id="mapgeoloc"></div>

<script type="text/javascript">
  // initialize the map object
  var mapgeoloc = L.map('mapgeoloc').fitWorld();

  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
		accessToken: '<%= Rails.application.credentials.dig(:mapbox, :secret_access_key) %>'
  }).addTo(mapgeoloc);

  // zooming the map view to the detected location
  mapgeoloc.locate({setView: true, maxZoom: 16});

  // locationfound and locationerror events
  function onLocationFound(e) {
    var radius = e.accuracy / 2;

    L.marker(e.latlng).addTo(mapgeoloc)
        .bindPopup("You are within " + radius + " meters from this point").openPopup();

    L.circle(e.latlng, radius).addTo(mapgeoloc);
  }

  mapgeoloc.on('locationfound', onLocationFound);

  // message if the geolocation failed
  function onLocationError(e) {
    alert(e.message);
  }

  mapgeoloc.on('locationerror', onLocationError);

</script>
