<section id="about" class="about-section text-center py-5 background-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="black-bean mb-4 text-uppercase">Le projet ?</h2>
        <h3 class="black-bean mb-4">Permettre aux gens de découvrir une espèce
          d'arbre en particulier grâce à un positionnement géographique des
          individus d'espèces. Tu veux savoir à quoi ressemble un oranger des
          osages et le voir en vrai ?
        </h3>
      </div>
    </div>
    <%= image_tag("", class: "img-fluid", alt: "") %>
  </div>
</section>
