<section id="about" class="about-section text-center py-5 background-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="black-bean mb-4 text-uppercase">Fonctionnalités futures ?</h2>
        <h3 class="black-bean mb-4">
          Plein d'autres applications de cette base de données sont prévues !
        </h3>
      </div>
    </div>
    <%= image_tag("", class: "img-fluid", alt: "") %>
  </div>
</section>
