<section class="contact-section bg-black py-5 background-black-bean">
  <div class="container-fluid">
    <h2 class="text-white text-center mb-5">Contact</h2>
    <p class="text-white-50 text-center mb-5">Développement :
      <a href="https://github.com/Redcozmo" title="github" target="_blank" class=""><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/josselin-giffard-carlet-42330146/" title="linkedin" target="_blank" class=""><i class="fab fa-linkedin"></i></a>
    </p>
  </div>
</section>
