<section id="signup" class="signup-section py-5 background-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto text-center black-bean">

        <i class="far fa-paper-plane fa-5x mb-2"></i>
        <h2 class="mb-5">Tu veux être informé des avancées du projet ?</h2>

        <form class="form-inline d-flex">
          <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Inscris ton adresse mail...">
          <button type="submit" class="btn btn-primary mx-auto">Je m'inscris !</button>
        </form>

      </div>
    </div>
  </div>
</section>
