<section id="projects" class="projects-section py-5 background-black-bean">
  <div class="container-fluid">
    <h2 class="white text-center mb-4 text-uppercase">Comment enrichir la base et avoir des données fiables ?</h2>
    <div class="row align-items-center">

      <div class="w-100 my-auto text-lg-left col-lg-4">
        <i class="fas fa-users fa-5x mb-2 white"></i>
        <h4 class="text-white text-center">A toi de jouer !</h4>
        <p class="mb-0 text-white-50 text-center">Le projet se veut citoyen, à toi de
          référencer les arbres que tu rencontres.
          Quelques arbres sont déjà consultables sur la carte !
          Le projet se veut libre et ouvert, la base de données sera ainsi ouverte et contiendra aussi les données d'autres bases ouvertes comme OpenStreetMap.
        </p>
      </div>

      <div class="w-100 my-auto text-lg-left col-lg-4">
        <i class="fas fa-user-check fa-5x mb-2 white"></i>
        <h4 class="text-white text-center">Confirmation croisée</h4>
        <p class="mb-0 text-white-50 text-center">Afin d'être sûr de l'espèce des
          arbres référencés, plusieurs personnes vont confirmer ou ouvrir une discussions sur
          l'espèce d'un arbre.
        </p>
      </div>

      <div class="w-100 my-auto text-lg-left col-lg-4">
        <i class="fas fa-binoculars fa-5x mb-2 white"></i>
        <h4 class="text-white text-center">Référents natures</h4>
        <p class="mb-0 text-white-50 text-center">Tu es botaniste ou simplement fin
          connaisseur de la nature ? Tu pourras devenir référent par la
          qualité et la quantité du référencement d'arbres que tu feras.
        </p>
      </div>

    </div>

  </div>
</section>
