<section id="projects" class="projects-section py-5 background-black-bean">
  <div class="container-fluid">
    <h2 class="white text-center mb-4 text-uppercase">A quoi d'autre peuvent servir ces données ?</h2>
    <div class="row align-items-center">

      <div class="w-100 my-auto text-lg-left col-lg-4">
        <!-- <i class="fas fa-users fa-5x mb-2 white"></i> -->
        <h4 class="text-white text-center">Bonus !</h4>
        <p class="mb-0 text-white-50 text-center">
          Contrairement à une opinion répandue, le Lorem Ipsum n'est pas
          simplement du texte aléatoire. Il trouve ses racines dans une oeuvre
          de la littérature latine classique datant de 45 av. J.-C., le rendant
          vieux de 2000 ans.
        </p>
      </div>

      <div class="w-100 my-auto text-lg-left col-lg-4">
        <!-- <i class="fas fa-user-check fa-5x mb-2 white"></i> -->
        <h4 class="text-white text-center">Waoooohh</h4>
        <p class="mb-0 text-white-50 text-center">
          Contrairement à une opinion répandue, le Lorem Ipsum n'est pas
          simplement du texte aléatoire. Il trouve ses racines dans une oeuvre
          de la littérature latine classique datant de 45 av. J.-C., le rendant
          vieux de 2000 ans.
        </p>
      </div>

      <div class="w-100 my-auto text-lg-left col-lg-4">
        <!-- <i class="fas fa-binoculars fa-5x mb-2 white"></i> -->
        <h4 class="text-white text-center">Mais encore !</h4>
        <p class="mb-0 text-white-50 text-center">
          Contrairement à une opinion répandue, le Lorem Ipsum n'est pas
          simplement du texte aléatoire. Il trouve ses racines dans une oeuvre
          de la littérature latine classique datant de 45 av. J.-C., le rendant
          vieux de 2000 ans.
        </p>
      </div>

    </div>

  </div>
</section>
