$india-green: #15770a;
$black-bean: #380a0c;
$dark-yellow: #a08a1b;
$raisin-black: #212121;
$white: #ffffff;

// Text-color
.indian-green {
  color: $india-green;
}

.black-bean {
  color: $black-bean;
}

.dark-yellow {
  color: $dark-yellow;
}

.raisin-black {
  color: $raisin-black;
}

.white {
  color: $white;
}

// Background color

.background-indian-green {
  background-color: $india-green;
}

.background-black-bean {
  background-color: $black-bean;
}

.background-dark-yellow {
  background-color: $dark-yellow;
}

.background-raisin-black {
  background-color: $raisin-black;
}

.background-white {
  background-color: $white;
}
