// Place all the styles related to the spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#mapidtest { height: 600px; width: 100%;}
#mapidall { height: 600px; width: 100%;}
#mapidall-trees { height: 600px; width: 100%;}
#mapidone { height: 600px; width: 100%;}
#mapgeoloc { height: 600px; width: 100%;}

#mapgeoloc-add-spot { height: 300px; width: 600px;}
