// Place all the styles related to the spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#mapidtest { height: 400px; width: 650px; border: 5px; border-style: solid;}
#mapidall { height: 400px; width: 650px; border: 5px; border-style: solid;}
#mapidone { height: 400px; width: 650px; border: 5px; border-style: solid;}
#mapgeoloc { height: 400px; width: 650px; border: 5px; border-style: solid;}
