// Place all the styles related to the spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#mapid { height: 400px; width: 650px; border: 5px; border-style: solid;}
#map-show { height: 400px; width: 650px; border: 5px; border-style: solid;}
