// Place all the styles related to the trees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    padding: 0;
    margin: 0;
}
// html, body, #mapgeoloc {
//     height: 100%;
//     width: 100vw;
// }
